@import '@fontsource/fira-mono';

:root {
	font-family: 'Open Sans', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--primary-color: #00b8d4;
	--background-color: #ffffff;
	--secondary-color: #212121;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--nav-text-color: #ccc;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--sidebar-width: 275px;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--heading-color);
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}

p {
	font-weight: 400;
	line-height: 1.5;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}


pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 900px) {
	h1 {
		font-size: 4.8rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.8rem;
	}
	h5 {
		font-size: 1.4rem;
	}
}


/* Utility */

.page-wrapper {
	padding: 0 20px 20px;
	margin: 0 auto;
	max-width: 1200px;
}

.section + .section, section + section {
	margin-top: 50px;
}

.ghost-button {
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	border: 2px solid var(--background-color);
	color:var(--background-color);
	background-color:hsla(0, 0%, 100%, 0%);
	text-transform: uppercase;
	font-weight: bold;
}

a.ghost-button {
	text-decoration: none;
}

.ghost-button:hover{
	background-color:hsla(0, 0%, 100%, 10%);
	transition: 0.2s;
}

.button {
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	border: 2px solid var(--primary-color);
	color:white;
	background-color:var(--primary-color);
	text-transform: uppercase;
	font-weight: bold;
}

a.button {
	text-decoration: none;
}